*{
    /* background-image: url("HTML/background.jpg"); */
    /* background-size: cover; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    border-bottom:  2px solid transparent;
    transition: .4s;
}

#main-navigation ul li a {
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-right: 5rem;
}

.bg-img {
    background-image: url(../Team-19/HTML/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }

section{
    padding: 80px 5%;
    
}

.contact{
    padding-right: 100px;
    margin: auto;
    height: 90%;
    width: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 6 rem;
    margin-right: 100px;
    
}

.form1{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
   
}

/* .image{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px; 
} */

.form1 h1{
    font-size: 60px;
    color: aliceblue;
    margin-right: 365px;
    
}

span{
    color:rgb(77, 44, 209);

}

.form1 p {
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.form1 form{
    position: relative;
}

.form1 form input, form textarea{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.form1 textarea{
    resize: none;
    height: 200px
}

.form1 form .button{
    display: inline-block;
    background: rgb(77, 44, 209);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 180px;
    transition: ease .20s;
    cursor: pointer;
    margin: auto;
   
}

.form1 form .button:hover{
    border:2 px solid rgb(77, 44, 209);
    background: rgb(146, 125, 230);;
    transform: scale(1.1);
}

.box{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
   
    
}

.box .info{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.box .info .box1{
    position: relative;
    padding: 10px 0;
    display: flex;
}

.box .info .box1 .symbol{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}

.box .info .box1 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.box .info .box1 .text h3{
    font-weight: 500;
    color: rgb(100, 13, 119);
}

