@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body { 
    /* margin: 0; */
    /* background-color: black; */
    font-family: 'Roboto Condensed', sans-serif;
  }

.bg-img {
  background-image: url(../Team-19/HTML/homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

/*                   NAVBAR                  */

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    border-bottom:  2px solid transparent;
    transition: .4s;
}

#main-navigation ul li a {
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-right: 5rem;
}

/* .feat-prods h2 .feat-prods-title {
  text-align: center;
} */

/*                  CAROUSEL                */

/* .feat-prods {
  overflow: hidden;
  padding: 25px;
  position: relative;
}

.prev-btn, .next-btn {
  background: linear-gradient(90deg, black 0%, white 100%);
  cursor: pointer;
  z-index: 8;
  height: 100%;
  width: 10vw;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0%;
  size: 10px;
}

.prod-category {
  margin-bottom: 50px;
  padding: 0 10vw;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.prod-container {
  overflow-x: auto;
  display: flex;
  padding: 0 10vw;
  scroll-behavior: smooth;
}

.prod-img {
  overflow: hidden;
  height: 10vw;
  width: 100%;
  position: relative;
}

.prod-container::-webkit-scrollbar{
  display: none;
}

.prod-thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%
} */

/*            REVIEW SECTION          */

.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.marketing .col-lg-4 p {
  margin-left: .75rem;
  margin-right: .75rem;
  color: #06479e;
}




/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #161250;
  color: white;
  text-align: center;
}
   */


  /* Use the following colour pallet.
0D1821(Rich Black FOGRA) 

5A716A (Hoookers Green) 

D8DAD3(TimberWolf) 

C1420B (Mahogany) 

931F1D (Ruby Red)  */