@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body { 
    /* margin: 0; */
    /* background-color: black; */
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../Team-19/HTML/homepage.jpg) no-repeat center center fixed;
  }

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    border-bottom:  2px solid transparent;
    transition: .4s;
}

#main-navigation ul li a {
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-right: 5rem;
}
  


  /* Use the following colour pallet.
0D1821(Rich Black FOGRA) 

5A716A (Hoookers Green) 

D8DAD3(TimberWolf) 

C1420B (Mahogany) 

931F1D (Ruby Red)  */