@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body { 
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


/* NAVBAR CSS located in main.blade.php */

/*navbar background */
.header {
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
    padding: 10px 10px;
}

/* formatting items on navbar */
.header a {
    float: left;
    color: #D8DAD3;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

/* placeholder logo */
.header a.logo {
    font-size: 30px;
    font-weight: 700;
}

/* changes colou on hovering */
.header a:hover {
    color:orange;
}

/*move logging in features, accounts and basket to the right hand of the navbar */
.header-right {
    float: right;
}


/* If the window is too big  */
@media screen and (max-width:500px) {
    .header a {
        display: block;
        float: none;  
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .body {
        text-align: left;

    }
}



/*--
  

a {
    text-decoration: none;
}

.games {
    display: flex;
    flex-wrap: wrap;
}

.game {
    padding: 20px;
}

.game-details {
    display: flex;
    padding: 20px;
    gap: 10px;
}

*/


.bg-image-login{
background-image: url("https://wallpapercave.com/wp/wp10233967.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height:100%;

}
