@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body { 
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


/* NAVBAR CSS located in main.blade.php */

/*navbar background */
.header {
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
    padding: 10px 10px;
}

/* formatting items on navbar */
.header a {
    float: left;
    color: #D8DAD3;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

/* placeholder logo */
.header a.logo {
    font-size: 30px;
    font-weight: 700;
}

/* changes colou on hovering */
.header a:hover {
    color:orange;
}

/*move logging in features, accounts and basket to the right hand of the navbar */
.header-right {
    float: right;
}


/* If the window is too big  */
@media screen and (max-width:500px) {
    .header a {
        display: block;
        float: none;  
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .body {
        text-align: left;

    }
}



/*--
  

a {
    text-decoration: none;
}

.games {
    display: flex;
    flex-wrap: wrap;
}

.game {
    padding: 20px;
}

.game-details {
    display: flex;
    padding: 20px;
    gap: 10px;
}

*/

/*Footer CSS i main.blade.php*/
.foot-bg{
    background-color: #00245A;
}

/* Log in and Sign up specific CSS*/

/*background image formatting*/
.bg-image{
background-image: url("https://wallpapercave.com/wp/wp10233967.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height:100%;
}

.bg-admin{
    background-image: url("https://wallpaperaccess.com/full/2900045.png");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:100%;
}

.form-box{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: hidden;
}



.buttons-accounts {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: black;
    position: relative;
    color: white;
}

#select{
    background: #D49E4A;
    border-radius: 10px;
}


#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.login-inputs {
    top:32%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.signin-inputs {
    top:22%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.input-field {
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-field2 {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.reg-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white; 
    justify-content: center;
}



/*

.login{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    padding: 10px;
    overflow: hidden;
}

*/


/* Admin pages */

/*
table {
    position: absolute;
    
    width: 60%;
}

th, td {
    padding: 15px;
    text-align: left;
}


*/

table {
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    padding: 15px;
    text-align: left;
}