/*---------------------- GLOBAL CSS ----------------------*/

/* Standardised font and margining for the website */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');


* { 
    margin: 0;
    font-family: 'Josefin sans', sans-serif;

}

::-webkit-scrollbar {
    width: 5px;
  }


  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }


  ::-webkit-scrollbar-thumb {
    background: #636363; 
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* Background image formatting for different website pages */

.bg-image {
    background-image: url('https://cdn.cloudflare.steamstatic.com/steam/apps/261570/ss_0063145dccd0cb165aa7d47d9ac6623445c7ad4c.1920x1080.jpg?t=1590605540');
    background-size: cover;
    height:fit-content;
}


.bg-admin{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/723/545/190/waterfall-undertale-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:fit-content;
}

.bg-long {
    background: rgb(0,16,39);
    background: linear-gradient(0deg, rgba(0,16,39,1) 0%, rgba(8,64,126,1) 44%, rgba(2,0,36,1) 100%);
    height:fit-content;
}




/* NAVBAR CSS located in main.blade.php */

/*navbar background */
.header {
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    padding: 10px 10px;
}


/* formatting items on navbar */
.header a {
    float: left;
    color: #D8DAD3;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

/* logo formatiing */

.header img {
    width: 85px;
    height: auto;
}

.header .logo2 {
    font-size: 30px;
    padding-top:23px;
}

/* changes colour on hovering */

.header #hoverable:hover {
    color:gold;
}

/*move logging in features, accounts and basket to the right hand of the navbar */
.header-right {
    float: right;
}

/* navbar links formatting */

.header-left {
    padding-top: 12px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    border-bottom:  2px solid transparent;
    transition: .4s;
}

.header-right {
    float: right;
    display:flex;
    column-gap:10px;
    position: absolute;
    right:0;
    padding-right:5px
}

#drop-btn button {
    background-color: rgba (0,0,0,0);
}

.dropdown-toggle {
    padding-top: 8px;
    color: #ddd;
}

/* Dropdown Formatting */

/* .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown .dropbtn a:hover{
    color: gold;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */


/* If the window is too big  */
@media screen and (max-width:500px) {
    .header a {
        display: block;
        float: none;  
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .body {
        text-align: left;

    }
}

/*Footer CSS in main.blade.php*/

/* logo in footer */

.footer{
    background-color: #00245A;
    color: white;
    height: auto;
}

.footer img {
    height: 125px;
    width: auto;
    padding-bottom: 10px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-content #foot-content-box {
    width:1000px;
    padding:50px;
}

.footer-content .footer-section-links{
    text-align: center;
}

.footer-content .footer-section-newsletter{
    text-align: center;
    vertical-align: middle;
}

.footer-content .footer-section-about{
    text-align: center;
}

.footer .footer-content .footer-section-links a {
    color:white;
    text-decoration: none;
    font-size:large;
    padding : 8px;
}


.footer .footer-content .footer-section-links :hover{
    color: #D49E4A;
    font-size:x-large;
    font-weight: 600;
    transition: 0.2s;
}

.footer .footer-content .footer-section-newsletter {
    text-align: center;
}


.footer .footer-content .footer-section-newsletter input[type=text]{
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.footer .footer-content .footer-section-newsletter  input[type=submit]{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.footer .footer-content .footer-section-newsletter h3{
    font-size: x-large;
    font-weight: 600;
}

.footer .footer-content .footer-section-info{
    text-align: center;
}

/*---------------------- LOG IN AND SIGN UP CSS ----------------------*/




.form-box{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: hidden;
}

.form-box2{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 575px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: hidden;
}



.buttons-accounts {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding:10px 27px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: black;
    position: relative;
    color: white;
}

.buttons-accounts #select{
    background: #D49E4A;
    border-radius: 10px;
}

.buttons-accounts #non-select:hover{
    background: rgba(212, 159, 74, .2);
    border-radius: 10px;
}


.login-inputs {
    top:32%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.signin-inputs {
    top:22%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.input-field {
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.input-field2 {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color:white;
}

.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.submit-btn:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A;
    justify-content: center;
}


.reg-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white; 
    justify-content: center;
}

.reg-btn a{
    text-decoration: none!important;
    color:white;
}

.reg-btn:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A; 
    justify-content: center;
}

.errorlog{
    color:red;
    font-size: small;
}

.error-message{
    color: red;
    margin-left: 30px;
}


/*---------------------- ADMIN PAGES ----------------------*/


/*pages concerning tables*/

.admin-gif{
    background-image: url("https://media2.giphy.com/media/U4FkC2VqpeNRHjTDQ5/giphy.gif?cid=790b7611b5fb05d6118fae4df636262da5a3aba263f21a9a&rid=giphy.gif&ct=g");
    background-size: cover;
    padding: 5% 20%;
}

.admin-gif-2{
    background-image: url("https://media.tenor.com/GfSX-u7VGM4AAAAC/coding.gif");
    background-size: cover;
    padding: 5% 20%;
}


.admin-gif h1{
    padding:13%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color:#fff;
}

.admin-gif-2 .redir {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #76a6f5;
    justify-content: center;
}

.admin-gif-2 .redir:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #76a6f5;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.admin-gif-2 h2 {
    padding: 6% 13%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}

.admin-tables {
    display:flex;
    justify-content: center;
    padding: 10% 0;
}

.admin-tables table {
    width: 80%;
    border: 1px solid;
}

.admin-tables thead {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.admin-tables th {
    background-color: #162f54;
    padding:12px;
}

.admin-tables td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    background-color: #151a22;
    color: white;
    opacity: 0.95;
}

.admin-tables .admin-btn {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    color:white;
    border: 0;
    outline: none;
    border-radius: 10px;
    justify-content: center;
}

.admin-tables td .admin-btn:hover {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: rgba(212, 159, 74, .2);
    color: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    justify-content: center;
}


.admin-tables a:link{
    color:white;
    text-decoration: none;
}
.admin-tables a:visited {
    color:white;
    text-decoration: none;
}

.admin-tables .select-styling select {
    background: transparent;
    width: 150px;
    font-size: 16px;
    border:none;
    height: 34px;
    color: white;
}

.admin-tables .select-styling option {
    color: black;
}

.add-new form textarea {
    background-color: rgb(56, 56, 56);
    border:none;
}

.admin-tables .admin-btn {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    color:white;
    border: 0;
    outline: none;
    border-radius: 10px;
    justify-content: center;
}

.admin-tables td .admin-btn:hover {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: rgba(212, 159, 74, .2);
    color: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    justify-content: center;
}


/*background for products*/

.bg-admin-products{
    background-image: url("https://cutewallpaper.org/27/blue-vertical-wallpaper/2039417040.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:475%;
}

/*adding a new game css*/

.add-new {
    display:flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 50px 50px 50px 50px;
    overflow: hidden;
    color: white;

}

.add-new h1{
    font-weight: 1000;
    padding: 60px 60px;

}

.add-new textarea{
    width: 100%;
    color: white;
}

.add-new input {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.add-new .submit-game{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.add-new .submit-game:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A;
    justify-content: center;
}

/*---------------------- SEARCH RESULTS CSS ----------------------*/

.search-title {
    color:white;
    font-size:300px;
    text-align: center;
    padding-bottom: 30px;
}

.games-result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding-bottom: 10%;
    
}


.info2 {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 260px;
    width: 200px;
    text-decoration: none;
}

.info2 p{
    text-decoration: none;
}

.game-box1{
    display: flex;
    flex-direction: row;
    width: 250px;
    height:450px;
    background:rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    justify-content: center;
  }

  .game-box1:hover{
    background:rgba(0,0,0,.4);
    transition:2ms;
  }

.game-content {
    width: 25%;
    height: 375px;
    margin:1px; 
}

.game-content:hover .overlapping{
    opacity: 0.8;
    z-index: +1;
}

.no-result {
    display:flex;
    justify-content: center;
    width:100%;
    padding-bottom: 60px;
}

.no-result a {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: rgba(0, 0, 0, .1);
    border: 0;
    outline: none;
    color: white;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.no-result a:hover {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: rgba(0, 0, 0, 0.6);
    border: 0;
    outline: none;
    color: white;
    justify-content: center;
    text-decoration: none;
}

.no-result-gif{
    background-image: url("https://i.pinimg.com/originals/73/bb/c8/73bbc8967a9cfb011a9bb410a26f327f.gif");
    background-size: cover;
    width:100%;
    height:fit-content;
    height: auto;
    align-content: center;
}

.no-result-gif h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#fff;
    width:600px;
    background-color: rgba(0, 0, 0, .1);
    margin:auto;
}

.no-result .result-space {
    height:200px;
}


/*---------------------- CONTACT US CSS ----------------------*/

section{
    width: 100%;
    padding: 80px 5%;
    
  }
  
  .contact{
    margin: auto;
    height: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 6 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
    
  }
  
  .form1{
    
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
   
  } 
  
  .form1 h1{
    font-size: 60px;
    color: aliceblue;
    margin-right: 365px;
    
  }
  
  span{
    color:rgb(77, 44, 209);
  
  }
  
  .form1 p {
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    margin-right: 6.5rem;
    width:570px;
    height: 20px;
  }
  
  .form1 .cform{
    position: relative;
  }
  
  .form1 .cform input, .cform textarea{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
  }
  .form1 textarea{
    resize: none;
    height: 200px
  }
  
    .form1 .cform .button{
    background: rgb(77, 44, 209);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
   

  
  .form1 .cform .button:hover{
    border:1 px solid rgb(77, 44, 209);
    background: rgb(146, 125, 230);;
    transform: scale(1.1);
  }
  
  .box{
    display: flex;
    border:2 px solid rgb(77, 44, 209);
    display:flex;
    height: 400px;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-bottom:-25px;
    border-radius:15px;
  
  }
  
  .box .info1{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .box .info1 .box1{
    position: relative;
    padding: 10px 0;
    display: flex;
  }
  
  .box .info1 .box1 .symbol{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
  }
  
  .box .info1 .box1 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
  }
  
  .box .info1 .box1 .text h3{
    font-weight: 500;
    color: rgb(223, 210, 25);
  }
  #messagetext{
    padding-bottom: 200px;
  }

/*---------------------- WELCOME CSS ----------------------*/

.hp-contain { 
    background-image: url(../images/homepagecrop.jpg);
    background-size: cover;
    height: 75%
  }

.body-bg {
  background-color: #140b3a;
}

/*                 CAROUSEL                */

.carousel-img {
  border-radius: 50%;
  background-size: cover;
}

.col p {
  margin-left: .75rem;
  margin-right: .75rem;
  color: white;
}



/*---------------------- PRODUCTS CSS ----------------------*/

  .product-gif{
    background-image: url('spidey.gif');
    background-size: cover;
    height: 75%;
  }

   .title{
    color:rgb(255, 255, 255);
  }

  .container{
    margin-top: 460px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .form5{
    width: 400px;
    height: 55px;
    display: flex;
  }
  .form5 input{
    flex: 1;
    border: none;
    outline: none;
  }

  .form5 .btn btn-primary{
    background: yellow;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
  }

    .games{
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 50px;
    
  }

 .gradient {
    height: fit-content;
    width:100%;
    background-image: linear-gradient(#140b3a,rgb(123, 118, 203));
  }

  body{
    background-color: #140b3a;
  }

  .game-box{
    display: flex;
    flex-direction: row;
    width: 400px;
    height:700px;
    background:rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 40px;
    margin:10px;

  }

  .game-card{
    text-decoration: none!important;
  }

  .game{
    width: 25%;
    height: 375px;
    /* margin:-5px;  */
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1px;
  }
  .product-name h2{
    font-size: 35px;
  }

  .product-age h3{
    font-size: 20px;
    color: yellow;
  }
  .info3 p{
    font-size: 15px;
  }

  .info3{
   
    display:block;
    padding-top: 20%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 350px;
    width: 330px;
  }

  .game-box:hover {
    background-color:rgba(0, 0, 0, .5);
    z-index: +1;
  }

/*---------------------- BASKET CSS ----------------------*/

.remove-btn{
    padding: 4%;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white; 
    justify-content: center;
}

.empty-basket {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2% 20% 2% 20%;
}

.container-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.empty-basket img {
    size: 10vh;
    align-items: center;
}

.basket-contain {
    justify-content: center;
    text-align: center;
    padding: 2% 5% 5% 7%;
    height: fit-content;
    background-color: #090420;
}

/*---------------------- ABOUT CSS ----------------------*/

.about-gif {
    background-image: url("https://media3.giphy.com/media/cDUgG78hHn7TOt1aLO/giphy.gif?cid=790b76114ed8a2cb64949c5b9ee286fa0a0f8528bf73311b&rid=giphy.gif&ct=g");
    background-size: cover;
}

.about-gif h1{
    padding:13%;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color:#fff;
}

.about-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    padding: 3% 10%;
    row-gap: 30px;
}

.about-contents h3 {
    padding-top:20px;
    color: yellow;
}

.about-contents .contents-box-1{
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.about-contents .contents-box-2{
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.about-contents .contents-box-2 h2{
    color: yellow;
}

.about-contents .contents-box-3{
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.about-gif-2{
    background-image: url("https://i.pinimg.com/originals/d8/cd/1e/d8cd1ec3b55c46c37d89d31c16f5dd84.gif");
    background-size: cover;
    padding: 5% 20%;
}

.about-gif-2 .shop-now {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #76a6f5;
    justify-content: center;
}

.about-gif-2 .shop-now:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #76a6f5;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.about-gif-2 h2 {
    padding: 6% 13%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}

/*----------------------ORDERS CSS-----------------------*/

.orders-table{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 8% 25%;
}

.orders-table table {
    color:white;
    width: 90%;
    border-collapse: collapse;
}

.orders-table th {
    background-color: #162f54;
    padding:12px;
}

.orders-table td {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    padding: 12px;
}

.orders-table td a:hover {
    color: #D49E4A;
}

.orders-table a:link{
    color:white;
    text-decoration: none;
}
.orders-table a:visited {
    color:white;
    text-decoration: none;
}

.orders-table-title h3{
    font-weight: 1000;
    color:white;

}

.orders-table i{
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    padding:5px;
}


.orders-table h4{
    color:white;
    width:90%;
    background-color: black;
    opacity: 0.8;
    padding:10px;
}

.no-orders{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
}

.no-orders img {
    height: 300px;
    width: auto;
    padding: 0px;
}

.no-orders h3{
    font-weight: 1000;
    color: white;
}

.no-orders p {
    color:white;
}

.shop-now-btn {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #76a6f5;
    background: white;
    font: weight 900px;
    font-size: large;
    justify-content: center;
}

.shop-now-btn:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    border: 0;
    outline: none;
    border-radius: 10px;
    color:white;
    background: #76a6f5; 
    font: weight 900px;
    font-size: large;
    justify-content: center;
}

/*--------------------CHECKOUT CSS---------------------- */

.checkout-contain {
    justify-content: center;
    text-align: center;
    padding: 2% 5% 5% 5%;
    height: fit-content;
}

.container-check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

/* /--------------------ITEM CSS----------------------/ */

#go-to-basket{
    background-color:#d5ac6b;
    color:#ffffff;
    border:none;
}

.item-contents{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.container-item{
    display:flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    position: relative; 
    margin:auto;
    padding-top:5%;
    padding-bottom: 2%;
}

.container-item .container-item-right .item-title {
    text-align: center;
    padding: 15px 0px;
}

.container-item .container-item-right h5{
    color:#e4b339;
}

.container-item-left {
    background:rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display:block;
}

.container-item-right {
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display:block;
}



.container-item #item-box {
    color:white;
    width:500px;
    height:600px;
}

.container-item-left img{
    max-width:100%;
    max-height:100%;
    display:block;
}


.container-item .container-item-right .product-info{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-item .container-item-right #quantity-box {
    color:white;
    background-color: #191919;
    border:none;
}

.container-item-right #item-row {
    width:150px;
    height:auto;
    text-align: center;
}

.back-button{
    width:100%;
    text-align: center;
    padding-top:20px;
    padding-bottom:50px;
}