/*---------------------- GLOBAL CSS ----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* { 
    margin: 0;
    font-family: 'Josefin sans', sans-serif;
}




.bg-image {
    background-image: url('https://cdn.cloudflare.steamstatic.com/steam/apps/261570/ss_0063145dccd0cb165aa7d47d9ac6623445c7ad4c.1920x1080.jpg?t=1590605540');
    background-size: cover;
    height:fit-content;
}


.bg-admin{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/723/545/190/waterfall-undertale-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:fit-content;
}

.bg-long {
    background-image: url("https://cutewallpaper.org/27/blue-vertical-wallpaper/2039417040.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:fit-content;  
}



/* NAVBAR CSS located in main.blade.php */

/*navbar background */
.header {
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
    padding: 10px 10px;
}


/* formatting items on navbar */
.header a {
    float: left;
    color: #D8DAD3;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

/* place holder logo */
.header a.logo {
    font-size: 30px;
    font-weight: 700;
    /* width: 10px;
    height: auto; */
}

.header .logo2 {
    padding: 25px;
}

.header img {
    width: 65px;
    height: auto;
}

/* changes colour on hovering */
.header a:hover {
    color:gold;
}

/*move logging in features, accounts and basket to the right hand of the navbar */
.header-right {
    float: right;
}

.header-left {
    padding-top: 12px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    border-bottom:  2px solid transparent;
    transition: .4s;
}

#main-navigation ul li a {
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-right: 5rem;
}

/* If the window is too big  */
@media screen and (max-width:500px) {
    .header a {
        display: block;
        float: none;  
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .body {
        text-align: left;

    }
}

/*Footer CSS in main.blade.php*/


.footer{
    background-color: #00245A;
    color: white;
    height: auto;
}

.footer img {
    height: 125px;
    width: auto;
    padding-bottom: 10px;
}

.footer .footer-content {
    height: 350px;
    width:100%;
    position: relative;
    min-width: 60%;
}

.footer .footer-content .footer-section-info {
    position:absolute;
    text-align: center;
    top: 40px;
    left: 33%;
    width: 500px;
    height: 1;
    margin-top: 45px;
}

.footer .footer-content .footer-section-about {
    font-size: small;
    text-align: center;
    position:absolute;
    top: 20px;
    left: 0;
    width: 500px;
    height: 100px;
    padding-left:45px;

}

.footer .footer-content .footer-section-links {
    text-align:right;
    position:absolute;
    top: 60px;
    right: 0;
    padding-right: 240px;
    width: 500px;
    height: 100px;

}

.footer .footer-content .footer-section-links a {
    color:white;
    text-decoration: none;
    font-size:large;
    padding : 8px;
}


.footer .footer-content .footer-section-links :hover{
    color: #D49E4A;
    font-size:x-large;
    font-weight: 600;
    transition: 0.2s;
}

.footer .footer-content .footer-section-newsletter {
    position:absolute;
    text-align: center;
    top: 40px;
    left: 33%;
    width: 500px;
    height: 1;
}


.footer .footer-content .footer-section-newsletter input[type=text]{
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.footer .footer-content .footer-section-newsletter  input[type=submit]{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.footer .footer-content .footer-section-newsletter h3{
    font-size: x-large;
    font-weight: 600;
}

.footer .footer-content .footer-section-about h4 {
    margin-top: 55px;
}


/*---------------------- LOG IN AND SIGN UP CSS ----------------------*/




.form-box{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: hidden;
}

.form-box2{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 575px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: hidden;
}



.buttons-accounts {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding:10px 27px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: black;
    position: relative;
    color: white;
}

#select{
    background: #D49E4A;
    border-radius: 10px;
}


.login-inputs {
    top:32%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.signin-inputs {
    top:22%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.input-field {
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.input-field2 {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color:white;
}

.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.reg-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white; 
    justify-content: center;
}

.errorlog{
    color:red;
    font-size: small;
}

.error-message{
    color: red;
    margin-left: 30px;
}


/*---------------------- ADMIN PAGES ----------------------*/


/*pages concerning tables*/

.admin-tables {
    display:flex;
    justify-content: center;
    padding: 10% 0;
}

.admin-tables table {
    width: 80%;
    border: 1px solid;
}

.admin-tables thead {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.admin-tables th {
    background-color: #162f54;
    padding:12px;
}

.admin-tables td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    background-color: #151a22;
    color: white;
    opacity: 0.95;
}

.admin-tables button {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.admin-tables a:link{
    color:white;
    text-decoration: none;
}
.admin-tables a:visited {
    color:white;
    text-decoration: none;
}

.admin-tables .select-styling select {
    background: transparent;
    width: 150px;
    font-size: 16px;
    border:none;
    height: 34px;
    color: white;
}

.admin-tables .select-styling option {
    color: black;
}

/*background for products*/

.bg-admin-products{
    background-image: url("https://cutewallpaper.org/27/blue-vertical-wallpaper/2039417040.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:475%;
}

/*adding a new game css*/

.add-new {
    display:flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 50px 50px 50px 50px;
    overflow: hidden;
    color: white;

}

.add-new h1{
    font-weight: 1000;
    padding: 60px 60px;

}

.add-new textarea{
    width: 100%;
    color: white;
}

.add-new input {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.add-new .submit-game{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

/*---------------------- SEARCH RESULTS CSS ----------------------*/

.games-result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 50px;
    
}

.games-result h1{
    color: white;
    font-weight: 400;
    padding: 30px;
}

.info2 {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* background: rgb(0, 0, 0); */
    height: 260px;
    width: 200px;
}

.game-content {
    width: 25%;
    height: 375px;
    margin:1px; 
}

.game-content:hover .overlapping{
    opacity: 0.8;
    z-index: +1;
}

.overlapping {
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: -0.5;
    top: -250px;
    left: 0px;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: rgb(0, 0, 0);
    cursor: pointer;
    height: 250px;
    width: 200px;
   
}

.no-result {
    display:flex;
    justify-content: center;
    padding: 12% 0;
}

.no-result a {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
    text-decoration: none;
}


/*---------------------- CONTACT US CSS ----------------------*/

section{
    padding: 80px 5%;
    
}

.contact{
    padding-right: 100px;
    margin: auto;
    height: 90%;
    width: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 6 rem;
    margin-right: 100px;
    
}

.form1{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
   
}

/* .image{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px; 
} */

.form1 h1{
    font-size: 60px;
    color: aliceblue;
    margin-right: 365px;
    
}

span{
    color:rgb(77, 44, 209);

}

.form1 p {
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.form1 form{
    position: relative;
}

.form1 form input, form textarea{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.form1 textarea{
    resize: none;
    height: 200px
}

.form1 form .button{
    display: inline-block;
    background: rgb(77, 44, 209);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 180px;
    transition: ease .20s;
    cursor: pointer;
    margin: auto;
   
}

.form1 form .button:hover{
    border:2 px solid rgb(77, 44, 209);
    background: rgb(146, 125, 230);;
    transform: scale(1.1);
}

.box{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
   
    
}

.box .info{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.box .info .box1{
    position: relative;
    padding: 10px 0;
    display: flex;
}

.box .info .box1 .symbol{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}

.box .info .box1 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.box .info .box1 .text h3{
    font-weight: 500;
    color: rgb(223, 210, 25);
}
#messagetext{
    padding-bottom: 200px;
}

/*---------------------- WELCOME CSS ----------------------*/

.hp-contain { 
    background-image: url(../images/homepagecrop.jpg);
    background-size: cover;
    height: 75%
  }

.body-bg {
  background-color: #140b3a;
}

/*                 CAROUSEL                */

.carousel-img {
  border-radius: 50%;
  background-size: cover;
}

.col p {
  margin-left: .75rem;
  margin-right: .75rem;
  color: white;
}



/*---------------------- PRODUCTS CSS ----------------------*/

.background {
    background-image: url(images/homepage.jpg);
    background-size:cover;
    height: 100%;
  }

  .background .title{
    color:aliceblue;
  }

  .container{
    height:300px;
  }
    .games{
    /*background-color: rgb(8, 8, 8); */
    /* border-style: solid; */
    /* border-color:white; */
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 50px;
    
  }

 .gradient {
    height: fit-content;
    width:100%;
    background-image: linear-gradient(white,rgb(18, 6, 64));
  }

  .game{
    width: 25%;
    height: 375px;
    margin:1px; 
    /* align-items: center; */
   
    /* box-sizing: border-box; */
    /* background: white; */
  }
  
  .overlap{
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: -1;
    top: -350px;
    left: 12px;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: rgb(0, 0, 0);
    cursor: pointer;
    height: 350px;
    width: 330px;
   
 
  }

  .info{
   
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* background: rgb(0, 0, 0); */
    height: 350px;
    width: 330px;
   
  }

  .game:hover .overlap{
    opacity: 0.8;
    z-index: +1;
  }

/*---------------------- BASKET CSS ----------------------*/

.empty-basket {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2% 20% 20% 20%;
}

.basket-contain {
    justify-content: center;
    text-align: center;
    padding: 2% 5% 5% 7%;
    height: fit-content;
}

/*---------------------- ABOUT CSS ----------------------*/

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: dimgray;
}
.about-1{
    margin: 10px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: white;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #140b3a;
    padding: 80px, 30px;
    box-shadow: 0 0 9px rgba(0, 0, 0 .6);
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background-color: #00245A;
}
.about-item:hover h3,
.about-item:hover p{
    color: white;
    font-weight: bold;
}
/*----------------------ORDERS CSS-----------------------*/

.orders-table{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30%;
}

.orders-table table {
    color:white;
    width: 90%
}

.orders-table th {
    background-color: #162f54;
    padding:12px;
}

.orders-table td {
    text-align: center;
    background-color: black;
    opacity: 0.8;
    padding: 12px;
}

.orders-table td a:hover {
    color: #D49E4A;
}

.orders-table a:link{
    color:white;
    text-decoration: none;
}
.orders-table a:visited {
    color:white;
    text-decoration: none;
}

.orders-table-title h3{
    font-weight: 1000;
    padding: 60px 0px;
    color:white;
}

.orders-table i{
    color:white;
    width:101%;
    background-color: black;
    opacity: 0.8;
}

.no-orders{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 17% 17%;
}

.no-orders h3{
    font-weight: 1000;
    color: white;
}

.no-orders p {
    color:white;
}

.no-orders .shop-now-btn {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #76a6f5;
    background: white;
    font: weight 900px;
    font-size: large;
    justify-content: center;
}

/*--------------------CHECKOUT CSS---------------------- */

.checkout-contain {
    justify-content: center;
    text-align: center;
    padding: 2% 5% 5% 5%;
    height: fit-content;
}
