/*---------------------- GLOBAL CSS ----------------------*/

/* Standardised font and margining for the website */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');


* { 
    margin: 0;
    font-family: 'Josefin sans', sans-serif;
}

/* Background image formatting for different website pages */

.bg-image {
    background-image: url('https://cdn.cloudflare.steamstatic.com/steam/apps/261570/ss_0063145dccd0cb165aa7d47d9ac6623445c7ad4c.1920x1080.jpg?t=1590605540');
    background-size: cover;
    height:fit-content;
}


.bg-admin{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/723/545/190/waterfall-undertale-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:fit-content;
}

.bg-long {
    background-image: url("https://cutewallpaper.org/27/blue-vertical-wallpaper/2039417040.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:fit-content;  
}


/* NAVBAR CSS located in main.blade.php */

/*navbar background */
.header {
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    padding: 10px 10px;
}


/* formatting items on navbar */
.header a {
    float: left;
    color: #D8DAD3;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

/* logo formatiing */

.header img {
    width: 85px;
    height: auto;
}

/* changes colour on hovering */
.header a:hover {
    color:gold;
}

/*move logging in features, accounts and basket to the right hand of the navbar */
.header-right {
    float: right;
}

/* navbar links formatting */

.header-left {
    padding-top: 12px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    border-bottom:  2px solid transparent;
    transition: .4s;
}


/* If the window is too big  */
@media screen and (max-width:500px) {
    .header a {
        display: block;
        float: none;  
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .body {
        text-align: left;

    }
}

/*Footer CSS in main.blade.php*/


.footer{
    background-color: #00245A;
    color: white;
    height: auto;
}

.footer img {
    height: 125px;
    width: auto;
    padding-bottom: 10px;
}

.footer .footer-content {
    height: 350px;
    width:100%;
    position: relative;
    min-width: 60%;
}

.footer .footer-content .footer-section-info {
    position:absolute;
    text-align: center;
    top: 40px;
    left: 33%;
    width: 500px;
    height: 1;
    margin-top: 45px;
}

.footer .footer-content .footer-section-about {
    text-align: center;
    position:absolute;
    top: 20px;
    left: 0;
    width: 500px;
    height: 100px;
    padding-left:45px;

}

.footer .footer-content .footer-section-links {
    text-align:right;
    position:absolute;
    top: 60px;
    right: 0;
    padding-right: 240px;
    width: 500px;
    height: 100px;

}

.footer .footer-content .footer-section-links a {
    color:white;
    text-decoration: none;
    font-size:large;
    padding : 8px;
}


.footer .footer-content .footer-section-links :hover{
    color: #D49E4A;
    font-size:x-large;
    font-weight: 600;
    transition: 0.2s;
}

.footer .footer-content .footer-section-newsletter {
    position:absolute;
    text-align: center;
    top: 40px;
    left: 33%;
    width: 500px;
    height: 1;
}


.footer .footer-content .footer-section-newsletter input[type=text]{
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.footer .footer-content .footer-section-newsletter  input[type=submit]{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.footer .footer-content .footer-section-newsletter h3{
    font-size: x-large;
    font-weight: 600;
}

.footer .footer-content .footer-section-about h4 {
    margin-top: 55px;
}


/*---------------------- LOG IN AND SIGN UP CSS ----------------------*/




.form-box{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: hidden;
}

.form-box2{
    display:flex;
    flex-direction: column;
    width: 380px;
    height: 575px;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    overflow: hidden;
}



.buttons-accounts {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding:10px 27px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: black;
    position: relative;
    color: white;
}

.buttons-accounts #select{
    background: #D49E4A;
    border-radius: 10px;
}

.buttons-accounts #non-select:hover{
    background: rgba(212, 159, 74, .2);
    border-radius: 10px;
}


.login-inputs {
    top:32%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.signin-inputs {
    top:22%;
    position: absolute;
    left: 17%;
    transform: translate (-50%, -50%);
    flex-direction: column;
}

.input-field {
    width:250;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.input-field2 {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color:white;
}

.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.submit-btn:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A;
    justify-content: center;
}


.reg-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white; 
    justify-content: center;
}

.reg-btn:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A; 
    justify-content: center;
}

.errorlog{
    color:red;
    font-size: small;
}

.error-message{
    color: red;
    margin-left: 30px;
}


/*---------------------- ADMIN PAGES ----------------------*/


/*pages concerning tables*/

.admin-tables {
    display:flex;
    justify-content: center;
    padding: 10% 0;
}

.admin-tables table {
    width: 80%;
    border: 1px solid;
}

.admin-tables thead {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.admin-tables th {
    background-color: #162f54;
    padding:12px;
}

.admin-tables td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    background-color: #151a22;
    color: white;
    opacity: 0.95;
}


.admin-tables td button {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    justify-content: center;
}

.admin-tables td button:hover {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: rgba(212, 159, 74, .5);
    border: 0;
    outline: none;
    border-radius: 10px;
    justify-content: center;
}


.admin-tables a:link{
    color:white;
    text-decoration: none;
}
.admin-tables a:visited {
    color:white;
    text-decoration: none;
}

.admin-tables .select-styling select {
    background: transparent;
    width: 150px;
    font-size: 16px;
    border:none;
    height: 34px;
    color: white;
}

.admin-tables .select-styling option {
    color: black;
}

/*background for products*/

.bg-admin-products{
    background-image: url("https://cutewallpaper.org/27/blue-vertical-wallpaper/2039417040.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-size: cover;
    height:475%;
}

/*adding a new game css*/

.add-new {
    display:flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    position: relative;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 50px 50px 50px 50px;
    overflow: hidden;
    color: white;

}

.add-new h1{
    font-weight: 1000;
    padding: 60px 60px;

}

.add-new textarea{
    width: 100%;
    color: white;
}

.add-new input {
    width:250px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.add-new .submit-game{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.add-new .submit-game:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A;
    justify-content: center;
}

/*---------------------- SEARCH RESULTS CSS ----------------------*/

.games-result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 50px;
    
}

.games-result h1{
    color: white;
    font-weight: 400;
    padding: 30px;
}

.info2 {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 260px;
    width: 200px;
    text-decoration: none;
}

.game-content {
    width: 25%;
    height: 375px;
    margin:1px; 
}

.game-content:hover .overlapping{
    opacity: 0.8;
    z-index: +1;
}

.overlapping {
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: -0.5;
    top: -250px;
    left: 0px;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: rgb(0, 0, 0);
    cursor: pointer;
    height: 250px;
    width: 200px;
   
}

.no-result {
    display:flex;
    justify-content: center;
    padding: 12% 0;
}

.no-result a {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #D49E4A;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
    text-decoration: none;
}

.no-result a:hover {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #D49E4A;
    justify-content: center;
    text-decoration: none;
}



/*---------------------- CONTACT US CSS ----------------------*/

section{
    padding: 80px 5%;
    
  }
  
  .contact{
    padding-right: 100px;
    margin: auto;
    height: 90%;
    width: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 6 rem;
    margin-right: 100px;
    
  }
  
  .form1{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
   
  }
  
  /* .image{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px; 
  } */
  
  .form1 h1{
    font-size: 60px;
    color: aliceblue;
    margin-right: 365px;
    
  }
  
  span{
    color:rgb(77, 44, 209);
  
  }
  
  .form1 p {
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
  }
  
  .form1 form{
    position: relative;
  }
  
  .form1 form input, form textarea{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
  }
  .form1 textarea{
    resize: none;
    height: 200px
  }
  
  .form1 form .button{
    display: inline-block;
    background: rgb(77, 44, 209);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 180px;
    transition: ease .20s;
    cursor: pointer;
    margin: auto;
   
  }
  
  .form1 form .button:hover{
    border:2 px solid rgb(77, 44, 209);
    background: rgb(146, 125, 230);;
    transform: scale(1.1);
  }
  
  .box{
    border:2 px solid rgb(77, 44, 209);
    margin-top: 1000px;
    display:flex;
    height: 400px;
    margin: 2% auto;
    background:rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-left: 150px;
    margin-bottom:-100px;
  
  }
  
  .box .info1{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .box .info1 .box1{
    position: relative;
    padding: 10px 0;
    display: flex;
  }
  
  .box .info1 .box1 .symbol{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
  }
  
  .box .info1 .box1 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
  }
  
  .box .info1 .box1 .text h3{
    font-weight: 500;
    color: rgb(223, 210, 25);
  }
  #messagetext{
    padding-bottom: 200px;
  }

/*---------------------- WELCOME CSS ----------------------*/

.hp-contain { 
    background-image: url(../images/homepagecrop.jpg);
    background-size: cover;
    height: 75%
  }

.body-bg {
  background-color: #140b3a;
}

/*                 CAROUSEL                */

.carousel-img {
  border-radius: 50%;
  background-size: cover;
}

.col p {
  margin-left: .75rem;
  margin-right: .75rem;
  color: white;
}



/*---------------------- PRODUCTS CSS ----------------------*/

/* .background {
    background-image: url(images/homepage.jpg);
    background-size:cover;
    height: 100%;
  } */
  .product-gif{
    background-image: url('spidey.gif');
    /* height: 500px;
    position: relative;
    width: 100%; */
    /* display: block; */
    /* margin: 50px auto; */
    /* border: 2px solid black;
    background-size: cover;
    height:fit-content; */
    background-size: cover;
    height: 75%;
  }

   .title{
    /* color:rgb(4, 24, 42); */
    color:rgb(255, 255, 255);
    /* background: url('img1.jpg'); */
    /* background-image: url('spider.gif');
    position: absolute; */
  }

  .container{
    /* width: 700px;
    height: 70px; */
    /* background: red; */
    margin-top: 460px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  form3{
    background: white;
    width: 400px;
    height: 55px;
    display: flex;
  }
  form3 input{
    flex: 1;
    border: none;
    outline: none;
  }

  form3 .btn btn-primary{
    background: yellow;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
  }

    .games{
    /*background-color: rgb(8, 8, 8); */
    /* border-style: solid; */
    /* border-color:white; */
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 50px;
    
  }

 .gradient {
    height: fit-content;
    width:100%;
    background-image: linear-gradient(#140b3a,rgb(123, 118, 203));
  }

  .game{
    width: 25%;
    height: 375px;
    margin:1px; 
    /* align-items: center; */
   
    /* box-sizing: border-box; */
    /* background: white; */
  }
  
  .overlap{
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: -1;
    top: -350px;
    left: 12px;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: rgb(0, 0, 0);
    cursor: pointer;
    height: 350px;
    width: 330px;
   
 
  }

  .info3{
   
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* background: rgb(0, 0, 0); */
    height: 350px;
    width: 330px;
   
  }

  .game:hover .overlap{
    opacity: 0.8;
    z-index: +1;
  }

  /* .carousel-wrapper{
    height: 500px;
    position: relative;
    width: 100%;
    display: block;
     margin: 50px auto; 
    border: 2px solid black;
   }
   .carousel-item{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
   }
   .arrow{
    border: solid rgb(208, 30, 30);
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 12px;
   }
   .arrow-prev{
    left:30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%) rotate(135deg);

   }
   .arrow-next{
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
   }
   [id^= "item"]{
    display: none;
   }
    .item-1{
    z-index: 2;
    opacity: 1;
    background-image: url('img1.jpg');
    background-size: cover;
    }
    .item-2{
    background-image: url('img2.jpg');
    background-size: cover;
    }
    .item-3{
    background-image: url('img3.jpg');
    background-size: cover;
    }

    *:target ~ .item-1{
    opacity: 0;

    }
    #item-1:target ~ .item-1{
    opacity: 1;
    }
    #item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
    } */


/*---------------------- BASKET CSS ----------------------*/

.empty-basket {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2% 20% 20% 20%;
}

.basket-contain {
    justify-content: center;
    text-align: center;
    padding: 2% 5% 5% 7%;
    height: fit-content;
}

/*---------------------- ABOUT CSS ----------------------*/

.about-gif {
    background-image: url("https://media3.giphy.com/media/cDUgG78hHn7TOt1aLO/giphy.gif?cid=790b76114ed8a2cb64949c5b9ee286fa0a0f8528bf73311b&rid=giphy.gif&ct=g");
    background-size: cover;
}

.about-gif h1{
    padding:13%;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color:#fff;
}

.about-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    padding: 3% 10%;
    row-gap: 30px;
}

.about-contents h3 {
    padding-top:20px;
}

.about-contents .contents-box-1{
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.about-contents .contents-box-2{
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.about-contents .contents-box-3{
    color: white;
    background-color: rgba(0, 0, 0, .8);

}

.about-gif-2{
    background-image: url("https://i.pinimg.com/originals/d8/cd/1e/d8cd1ec3b55c46c37d89d31c16f5dd84.gif");
    background-size: cover;
    padding: 5% 20%;
}

.about-gif-2 .shop-now {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #76a6f5;
    justify-content: center;
}

.about-gif-2 .shop-now:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    background: #76a6f5;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.about-gif-2 h2 {
    padding: 6% 13%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}

/*----------------------ORDERS CSS-----------------------*/

.orders-table{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30%;
}

.orders-table table {
    color:white;
    width: 90%;
}

.orders-table th {
    background-color: #162f54;
    padding:12px;
}

.orders-table td {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    padding: 12px;
}

.orders-table td a:hover {
    color: #D49E4A;
}

.orders-table a:link{
    color:white;
    text-decoration: none;
}
.orders-table a:visited {
    color:white;
    text-decoration: none;
}

.orders-table-title h3{
    font-weight: 1000;
    color:white;

}

.orders-table i{
    color:white;
    width:101%;
    background-color: black;
    opacity: 0.8;
}

.orders-table h4{
    color:white;
    width:90%;
    background-color: black;
    opacity: 0.8;
}

.no-orders{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
}

.no-orders img {
    height: 300px;
    width: auto;
    padding: 0px;
}

.no-orders h3{
    font-weight: 1000;
    color: white;
}

.no-orders p {
    color:white;
}

.no-orders .shop-now-btn {
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #76a6f5;
    background: white;
    font: weight 900px;
    font-size: large;
    justify-content: center;
}

.no-orders .shop-now-btn:hover{
    padding: 10px 30px;
    cursor: pointer;
    margin:auto;
    display:block;
    border: 0;
    outline: none;
    border-radius: 10px;
    color:white;
    background: #76a6f5; 
    font: weight 900px;
    font-size: large;
    justify-content: center;
}

/*--------------------CHECKOUT CSS---------------------- */

.checkout-contain {
    justify-content: center;
    text-align: center;
    padding: 2% 5% 5% 5%;
    height: fit-content;
}

/*---------------------- ITEM CSS ----------------------*/

.game-image{
    display:flex;
    justify-content: left;
    padding-left: 150px;
    padding-top: 60px;

    /* float: left; */
}

.product-description{
  /* width: 200px;
  height: 300px;
  margin: 20px;
  box-sizing: border-box;
  border: 5px solid black; */

  width: 490px;
  height:270px;
  border: 5px solid rgb(255, 255, 255);
  margin: 0 auto;
  position: absolute;
  top: 17%;
  left:50%;
  color: rgb(255, 255, 255);
  text-align: center;

    /* width:500px;
    float: right; */
}

.product-info{
    width: 490px;
    height:250px;
    border: 5px solid rgb(255, 255, 255);
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left:50%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.back-to-games{
    /* padding:50px;
    margin: 95px;
    padding-top:-1% ; */
}
