.background {
    background-image: url(images/homepage.jpg);
    background-size:cover;
    height: 100%;
  }

  .background .title{
    color:aliceblue;
  }

  .container{
    height:300px;
  }
    .games{
    /*background-color: rgb(8, 8, 8); */
    /* border-style: solid; */
    /* border-color:white; */
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    padding: 50px;
    
  }

     .gradient{
    height: 100%;
    width:100%;
    background-image: linear-gradient(white,rgb(18, 6, 64));
  }

  .game{
    width: 25%;
    height: 375px;
    margin:1px; 
    /* align-items: center; */
   
    /* box-sizing: border-box; */
    /* background: white; */
  }
  
  .overlap{
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: -1;
    top: -350px;
    left: 12px;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: rgb(0, 0, 0);
    cursor: pointer;
    height: 350px;
    width: 330px;
   
 
  }

  .info{
   
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* background: rgb(0, 0, 0); */
    height: 350px;
    width: 330px;
   
  }

  .game:hover .overlap{
    opacity: 0.8;
    z-index: +1;
  }