
body { 
    background-image: url(../images/homepagecrop.jpg);
    background-size: cover;
    height: 40%
  }

.body-bg {
  background-color: #140b3a;
}

/*                 CAROUSEL                */

.carousel-img {
  border-radius: 50%;
  background-size: cover;
}

.col p {
  margin-left: .75rem;
  margin-right: .75rem;
  color: white;
}

