@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body { 
    font-family: 'Roboto Condensed', sans-serif;
  }

.body-bg {
  background-color: #140b3a;
}

.bg-img {
  background-image: url(../images/homepagecrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75%;
}

/*                 CAROUSEL                */

.carousel-img {
  border-radius: 50%;
  background-size: cover;
}

.col p {
  margin-left: .75rem;
  margin-right: .75rem;
  color: white;
}

